// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:             #27ae60;
$brand-blue:                #0098db; //0198df
$brand-yellow:              #eaab00;
$brand-red:                 #910000;
$brand-dark-red:            #6c0000;

$brand-gray:                #c3c3c3;
$brand-light-gray:          #f1f1f1;
$brand-blue-black:          #37424a;
$brand-grey-background:     #f8f8f8;
$brand-lt-blue-background:  #cceaf8;

$header-black:              #2b3033; 
$black:                     #000000;
$white:                     #ffffff;


$brand-copy:                #868887; //#9b9d9c
