@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


// GLOBAL 

body {
  padding-top:119px;
  font-family: 'Lato', sans-serif;
  background:$brand-grey-background;
  font-size:16px;
  Line-height:20px; 
  color:$text-grey;
}

body.admin-bar {
  div.header-position-container {
    top:32px;
  }
}

body.home {
  padding-top:0px;
  header.banner {
    background:transparent;
  }
}

p {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  margin-bottom:16px;
  font-size:16px;
  Line-height:20px; 
  color:$text-grey;
  
  a {
    text-transform:capitalize;
    font-weight:300;
    font-size:16px;
  }
}



a {
  font-family: 'Lato', sans-serif;
  &:active, &:visited, &:focus, &:hover {
      text-decoration:none !important;
      h6, p, div {
        text-decoration:none !important;
      }
  }
  p {
    color: $brand-copy; 
  }
}

p{
  strong{
    color:$header-black;
    margin-bottom: 24px;
    display: inline-block;
    font-weight:700;
  }
}



h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:.01em;
}

h3,h4 {
  font-family: 'Lato-bold', sans-serif !important;
  font-size:16px !important;
  margin-bottom: 20px !important;;
  font-weight:400 !important;;
}

h5, h6 {
  text-transform:uppercase;
  font-size:14px;
  line-height:20px;
  color:$black;
}

li, ul {
  list-style:none;
  margin:0px;
  padding:0px;
}

li {
  a {
    text-transform:capitalize;
    font-weight:400;
    font-size:16px;
  }
}

.content, .content-block {
  
  ol {
    list-style-type: decimal !important;
    padding-left:20px;
    margin-bottom:10px;
    
    li {
      list-style: decimal !important;
      color:#858685;
      font-size:16px;
    }
  }
  
  ul{
    list-style-type: disc;
    padding-left:20px;
    margin-bottom:30px;
    margin-top:30px;
    
    li {
      list-style: disc;
      color:#858685;
      font-size:16px;
    }
  }
}

ul li {
  margin-bottom:4px;
}

div.header-position-container {
  position: fixed;
  z-index: 100;
  margin: 0px auto;
  width: 100%;
  top:0px;
}

header.banner {
  position: relative;
  z-index: 101;
  margin: 0px auto;
  padding:30px 0px;
  background:$header-black;
}

#carousel-header {
  max-height:340px;
}


// GLOBAL CLASSES

.no-bullets ul, .no-bullets ul li {
  list-style:none !important;
}

.padding-left-0 {
  padding-left:0px;
}
.padding-right-0 {
  padding-right:0px;
}

.padding-left-30 {
  padding-left:30px;
}
.padding-right-30 {
  padding-right:30px;
}

.padding-left-50 {
  padding-left:50px;
}
.padding-right-50 {
  padding-right:50px;
}

.left-padding-block {
  padding-left:60px;
}

.no-padding-block {
   padding-top:0px !important;
   padding-bottom:0px !important;
}

.padding-block-0-250-0-90 {
  padding:0px 250px 0px 90px;
}

.padding-block-0-250-40-90 {
  padding:0px 250px 40px 90px;
}

.padding-block-50-150 {
  padding:0px 150px 0px 50px;
}
  

h2.header-large {
  font-size:21px;
  line-height:28px;
  margin-bottom:18px;
  text-transform:none !important;
}

.center-image {
    width: auto;
    max-width: 100%;
    margin: 0px auto;
    display: block;
}

.float-container {
  overflow:hidden;
}

.inline-block {
  display:inline-block;
}

.btn {
  display:inline-block;
  padding:14px;
}

.full-width {
  min-width:100%;
}

.tag {
  color:$white;
  text-transform:uppercase;
  text-align:center;
  border-radius:0px;
  font-size:12px;
  padding:3px 6px;
  border:0px none;
  display:inline-block;
  line-height:20px;
  white-space:normal;
  font-weight:500;
    
  &.tag-blue {
    background:$brand-blue;
    
  }
}

a.btn-blue, input[type="submit"] {
  background:$brand-blue;
  color:$white;
  text-transform:uppercase;
  text-align:center;
  border-radius:0px;
  font-size:12px;
  line-height:20px;
  white-space:normal;
  font-weight:500;
  opacity:1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  border:0px none;
  display:inline-block;
  padding:14px;
  
  img {
    margin-right:6px;
  }
  
  &:hover {
    color:$white;
    opacity: 0.7;
  }
  
  h6 {
    margin-top:4px;
    margin-bottotm:4px;
    font-size: 18px;
    text-transform: none;
    
    &:first-child {
      font-weight: 300;
    }
  }
}
.content-block {
  padding:46px 0px;
  
  ul{
    list-style:none;
    padding-left:20px;
    
    li>a {
      color:$brand-blue;
      font-size:14px;
      font-weight:bold;
    }
  }
}

.copy-small {
  font-size:13px;
}
  
.copy-large {
  font-size:18px;
}

.page-header {
  padding-bottom: 0px;
  margin: 40px 0 20px;
  border-bottom: 0px none;
  margin: 55px 0px 0px 0px;
}

h2.header-large {
  font-size:22px;
}

.copy-uppercase {
  text-transform:uppercase;
}

.copy-lowercase {
  text-transform:lowercase;
}

.blue-text {
  text-transform:none;
  color:$brand-blue;
}

.blue-link, a {
  text-transform:uppercase;
  color:$brand-blue;
  font-weight:700;
  
  &:hover {
    color:$brand-blue;
    // text-transform:none;
  }
}

.block-more-link {
  margin-top:20px;
  float:right;
  font-weight:700;
}
  
.row{
  .block-more-link {
    margin-top:-34px;
    float:right;
  }
}

.narrow-block {
  padding:10px 90px;
}

.narrow-block-40 {
  padding:0px 40px;
}

.narrow-block-55 {
  padding:0px 55px;
}

.narrow-block-90 {
  padding:0px 90px;
}

.narrow-block-subpage .container .row {
  padding:0px 55px;
}

.narrow-double-block {
  padding:10px 140px;
}

.flex-block{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.inline-block {
  display:inline-block;
}

img.center {
  margin:0px auto;
}

// FORMS

.content-block form.wpcf7 {
  padding:20px;
  box-sizing:border-box;
  background:#fff;
  border:1px solid $brand-gray;
}
.content-block input[type="submit"] {
  background:$brand-blue;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  border-radius:0px;
  font-size:12px;
  line-height:20px;
  white-space:normal;
  font-weight:500;
  opacity:1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  border:0px none;
  display:inline-block;
  padding:14px;
}

#field-wrapper {
  
  select{
    height: 28px;
    background:$white;
    border-radius: 0px !important;
  }
}


// HOME CAROUSEL

#carousel-header {
  .carousel-control {
    background-image:none;
  }
  
  .carousel-indicators li {
    margin-left: 4px !important;
    margin-right: 4px !important;
  }
}

.carousel .item-content img, .header-image-container img {
  width:100%;
  height:auto !important;
}

.overlay-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  
  h5 {
    color:$white;
    font-size:24px;
    margin:176px auto 14px auto;
    text-align:center;
    width:60%;
    line-height:32px;
    margin-top: 10%;
  }
   
  p {
    font-size:18px;
    color:$white;
    font-weight:100;
    line-height:26px;
    width:60%;
    margin:0px auto;
    text-align:center;
   }
}


// NAVIGATION

div.navbar-header {
  width:100%;
  position:relative;
}

.site-logo {
  position:absolute;
}

nav.navbar-collapse.collapse {
  padding-top:10px;
}

.navbar-toggle {
  border: 1px solid $white;
}

div.menu-primary-navigation-container {
  text-align:center;
}

body.home {
  ul#menu-primary-navigation {
    li {
      > a {
        border-bottom:2px solid transparent;
         
        &:hover {
          border-bottom:2px solid $brand-yellow;
        }
      }
      ul.dropdown-menu{
        background-color:transparent;
      }
    }
  }
}

ul#menu-primary-navigation {
  float: none;
  display: inline-block;
  position: relative;
  
  li {
    padding:0px 20px;
    
    &.active > a {
      border-bottom:2px solid $brand-yellow;
    }
    
    > a {
      color:#fff;
      text-transform:uppercase;
      padding:10px 0px 8px 0px;
      font-weight:300;
      font-size:14px;
      letter-spacing:1px;
      border-bottom:2px solid $header-black;
      
      &:hover {
        border-bottom:2px solid $brand-yellow;
        background:transparent;
        background-image:none !important;
      }
      &:active, &:visited, &:focus {
        background:transparent !important;
        background-image:none !important;
      }
    }
  }
  
  ul.dropdown-menu{
    background-color:$header-black;
    border: 0px none;
    border-radius:0px;
    
    li a {
      font-size:12px;
      border-bottom:0px none;
      
      &:hover {
        color:$brand-yellow;
        border-bottom:0px none;
      }
      
    }
    
    .active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
      background-color:transparent;
    }
  }
  
  span.caret {
    display:none;
  }
}

// MOBILE NAV

body nav.in ul#menu-primary-navigation li>a:hover {
  border-bottom:2px solid transparent !important;
}
nav.in ul#menu-primary-navigation {
  width:100%;
  margin: 0px !important;
  li {
     padding:0px 0px;
     
     &.open-menu {
       background:#eaab00;
     }
     &.open-menu .dropdown-menu {
       background-color: #444 !important;
       margin-bottom: 12px;
     }
  }
  .dropdown-menu {
    width:100%;
    text-align:center;
  }
}


// HEADER SEARCH AND SEARCH RESULT

.search-results {
    .content-block {
      
      h2 {
        margin-bottom:8px;
        
        a {
          color:$header-black;
        }
      }
      
      article {
        margin-bottom:40px;
      }
    }
}

.header-info {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top:-10px
}

.search-wrap {
  position:relative;
  color:$white;
}

.search-wrap input[type=search]{
  width:70px;
  background-color:transparent;
  margin-right: 26px;
  border:0px none;
  padding: 4px 10px;
  color:$white;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right;
}

.search-wrap input[type=search]:focus {
    width: 140px;
}

.search-wrap button.icon-search {
  position:absolute;
  top:0px;
  right:0px;
  background:transparent;
  color:$white;
  border:0px none;
}


// GRID BLOCKS

.custom-block {
  margin-bottom:30px;
}

.grid-block-link {
  display:inline-block;
}

.grid-block img {
  width:100%;
  height:auto;
}

.grid-block-copy {
  background:#fff;
  padding:15px; 
  border-bottom:2px solid #dfdfdf;
  
  h6 {
    color: $brand-blue;
    font-size:14px;
    line-height:19px;
    text-transform:uppercase;
    margin-bottom:5px;
  } 
  
  p {
    font-size:14px;
    color: $text-grey !important;
    text-transform: none;
  }
}

.header-small {
  &.content-block {
    h2.block-title {
      font-size:15px;
      margin-bottom:12px;
    }
  }
}

.content-block {
  h2.block-title, h1.entry-title {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 28px;
    color: $black;
    margin-bottom:10px;
    
    &:first-child {
      margin-top:0px;
    }
    
  }
  .row {
    margin-bottom:22px;
  
    &:last-child{
      margin-bottom:0px;
    }
  }
}

.header-wrapper {

}

h2.block-title {
  text-transform: uppercase;
  font-size: 19px;
  line-height: 28px;
  color: $black;
  margin-bottom:0px;
}

.grid-block-copy {
  p {
    text-transform: none;
  }
}

.off-white-block-container .grid-block .grid-block-copy {
  background:transparent !important;
}

// PAGES

.single time, .single p.author {
  display:none;
}

// PAGE - HOME

a.btn-start, a.btn-features {
  text-align:center; 
  padding:10px;
}

.float-container {
  overflow:hidden;
}
  
.btn-block {
  min-height:120px;
  h6 {
    
  }
}

.btn-light-blue {
  background-color:$brand-lt-blue-background !important;
  color:$brand-blue-black !important;
}


.blue-text, h6.blue-text,  .btn-block h6.blue-text {
  text-transform:none;
  color:$brand-blue !important;
}


.build-stats p {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom:0px;
}


h1.stat-number {
  font-size:40px;
  color:$text-grey;
  font-size: 65px;
  margin-bottom:2px;
  font-family:Lato-bold,sans-serif;
}


.build-stats h1.stat-number:after {
  content: url('/wp-content/uploads/2017/07/hexagon-red.png');
  padding-left:5px;
}

.build-stats:first-child h1.stat-number:after {
  content: url('/wp-content/uploads/2017/07/hexagon-green.png');
  padding-left:5px;
}

a.btn-block h6 {
   color:$white;
    margin-top:3px;
    margin-bottom:3px;
    font-size: 18px;
    text-transform: none;
  
}

.btn-light-blue {
  
  a.btn-block h6:first-child {
    font-weight:300;
    color:$brand-blue-black;
  }
}


#carousel-header span.glyphicon {
  display:none;
}
.experienced-developers .shortcode {
  width: 33.3333333333%;
  float:right;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.experienced-developers .content {
    width: 66.6666666667%;
    float:left;
}

.carousel div.active {
  border-bottom:0px;
}

.experienced-developers .item-content img {
  min-height:116px;
  width:346px;
}

.experienced-developers .carousel-control, .experienced-developers .carousel-indicators {
  display:none;
}

.experienced-developers .carousel {
  border:2px solid #0098db;
  
  .item-content{
    min-height:116px;
  }
  
  .overlay-container h5, .experienced-developers .item-content h5 {
    margin-top:3%;
    margin-bottom:2px;
  }
}


/* Activity Table */

.activity-block {
  padding-top:0px;
}

.activity-table-tab-container {
  margin-left:14px;
  padding-top:3px;
  
  .active {
    border-bottom:2px solid $brand-blue;
  }
  
  .activity-table-tab {
    padding-bottom:3px;
    border-bottom:2px solid $white;
    color:#333333;
    margin-left:14px;
  }
}

div.row-header {
  border-top:1px solid $brand-gray;
  padding-top:0px;
  padding-bottom:0px;
}

div.table-row {
  margin-bottom:0px;
  padding:12px 10px;
  border-bottom:1px solid $brand-gray;
  border-left:1px solid $brand-gray;
  border-right:1px solid $brand-gray;
  overflow:hidden;
}

.activity-table div.table-row a {
  color:#0098db;
  font-size:12px;
  font-weight:400;
}
.activity-table div.table-row p {
  font-size:12px;
  margin-bottom:0px;
  color:#2c2c2c;
}
.priority {
  padding: 2px 8px;
  background: grey;
  text-transform: uppercase;
  color:$white;
  border-radius: 8px;
  margin-left:6px;
  font-size:11px;
}
span.Medium {
  background: #f5d36d; /* #f6cd51*/
}
span.High {
  background: #b03535;
}
span.Low {
  background: #3bbc26;
}

.hexagon {
  margin-right:6px;
  padding-bottom:3px;
  width:13px;
  height:auto !important;
}

.activity-block h2.block-title {
        font-size:16px;
}

/* Experienced Developer */

.home .content-block form {
    padding:0px;
    box-sizing: border-box;
    background: #fff;
    border: 0px none;
}

a.btn-light-blue h6:first-child {
  color:#37424a !important;
}

.chart {
  width: 100%; 
  min-height: 250px;
}

#carousel-header span.glyphicon {
  display:none;
}
.experienced-developers .shortcode {
  width: 33.3333333333%;
  float:right;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.experienced-developers .content {
    width: 66.6666666667%;
    float:left;
}

.carousel div.active {
  border-bottom:0px;
}

.experienced-developers .carousel-control, .experienced-developers .carousel-indicators {
  display:none;
}

.experienced-developers .carousel {
  border:2px solid $brand-blue;
  
  .item-content{
    min-height:116px;
    text-align:center;
    width:92%;
  }
  
  .overlay-container h5, .experienced-developers .item-content h5 {
    margin-top:3%;
    margin-bottom:2px;
    font-size:22px;
  }
}


// PAGE - DOWNLOADS

/* Release Section*/

div.release-section .content .row {
     margin-bottom:0px;
}

body.downloads {
  background-color:$white;
}

/* Drop down Select */ 

select.header-select{
  border: 0px none;
  color: $brand-blue;
  text-transform: uppercase;
  font-weight: 700;
  margin-left:6px;
}


/* Layer styles*/

.narrow-block-subpage .container .row {
  padding:30px 55px;
}

div.table-row {
  margin-bottom:0px;
  padding:0px 10px;
  border-bottom:1px solid $brand-gray;
  overflow:hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.table-row a {
  color:$brand-blue;
}
div.table-row p {
  font-size:12px;
  margin-bottom:0px;
}


/* Search Styles */

.search-wrap input[type=search]{
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    float: right;
}

.search-wrap input[type=search]:focus {
    width: 200px;
}

.layers-search-container form.layers-page-search {
  position:relative;
}

.layers-search-container form.layers-page-search button.inlineSubmit {
  margin-top: 0px;
  right:0px;
}

div.layers-search-container {
  margin-top:-70px;
} 


// PAGE - SOFTWARE

body.software {
  .block-more-link, .row .block-more-link {
    margin-top: -34px;
    float: right;
  }
}

.software-blocks {
  .grid-block {
    .grid-block-copy {
      h6 {
        margin-bottom:10px;
      }
      p{
        font-size:13px;
        text-transform:none;
      }
    }
  }
}

body.project-components .grid-block-copy {
  min-height:205px;
}


// PAGE - DOCS

.featured-doc-blocks h2 {
  margin-top:0px;
}
a.block-more-link  {
  margin-top:5px;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0px;
  text-indent: 2px !important;
  line-height: 28px;
  color:#333333;
  background-image:none !important;
       width:100%;
}

.gsc-input {
  background-image:none;
}

td.gsib_a {
  padding-top:0px !important;
  padding-bottom:0px !important;
}

input.gsc-search-button {
  width:28px;
  height:28px;
  border:0px none;
  background-color:$brand-blue;
  padding: 6px;
  margin-top: 1px;
  margin-left:0px;
}

div.gsst_b, div.gsst_a div.gscb_a {
  display:none !important;
}

.gsc-search-box tbody th, .gsc-search-box tbody td {
   padding: 0px !important;
 }
 
.documents .grid-block-copy {
    min-height: 230px;
}

.left-padding-block {
  padding-left:30px;
}

.center-image {
    width: auto;
    max-width: 100%;
    margin: 0px auto;
    display: block;
}

form input.inlineSearch {
  min-width: 200px;
  padding: 6px 25px 6px 5px;
  line-height: normal;
  border: none;
  border-radius: 0px;
  border-bottom:1px solid #ced0d2;
  font-family: sans-serif;  
  background: transparent;
} 

form button.inlineSubmit {
  position: absolute;
  margin-top:20px;
  top: 0px;
  right: 13px;
  height: 100%;
  width: 26px;
  border: none;
  border-radius: 0;
  background: transparent;
  border-bottom:1px solid #ced0d2;
  color:#0098db;
}

select.header-select{
  border: 0px none;
  color: $brand-blue;
  text-transform: uppercase;
  font-weight: 700;  
  margin-left:6px;
   background:$brand-grey-background;
   
  &.white-background {
    background:$white;
  }
}

.featured-doc-blocks .grid-block-copy {
  min-height:200px;
}

.featured-doc-blocks .custom-block:last-child .grid-block-copy {
  background:#e6f5fc;
}

div.gsc-control-cse, div.gsc-control-cse-en {
  background:transparent;
  border:0px none;
  padding:0px;
}

table:hover, table tr:hover table tr td:hover, {
  background:transparent !important;
}

table tr:hover, table .t-title:hover {
  background-color: transparent !important;
} 

.gsc-search-button{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
  
.gsc-search-button input:before {
  content: "/f002";
  font: normal normal normal 14px/1 FontAwesome;
}

.gsc-search-button {
  padding:0px;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0px;
  text-indent: 2px !important;
  line-height: 28px;
  color:$text-grey;
  background-image:none !important;
}

.gsc-search-box {
  border:0px none;
}

.gsc-search-box tbody tr:nth-child(odd) {
  background:transparent;
}

.gsc-input-box table {
  border:0px none;
}

.gsc-input-box {
  border:0px none;
    border-bottom: 1px solid $brand-gray;
  height: 28px;
}

.gsc-input {
  background-image:none;
}

td.gsib_a {
  padding-top:0px !important;
  padding-bottom:0px !important;
}

input.gsc-search-button {
  width:28px;
  height:28px;
  border:0px none;
  background-color:$brand-blue;
  padding: 6px;
  margin-top: 1px;
  margin-left:0px;
}

div.gsst_b, div.gsst_a div.gscb_a {
  display:none !important;
}

.gsc-search-box tbody th, .gsc-search-box tbody td {
   padding: 0px !important;
 }


// PAGE - COMMUNITY

.find-us {
  .half-block {
    &:hover {
      background:$white;
      cursor:pointer;
    }
  }
}
.half-block {
  padding:16px 0px;
  border-bottom:1px solid #dfdfdf;
  overflow:hidden;
  min-height:112px;
  
  &:hover {
    background:$white;
  }
  &:first-child {
    border-top:1px solid #dfdfdf;
  }
  p {
    margin-bottom:0px;
    text-transform: none;
  }
}

.half-block-img-container {
  padding-left:0px !important;
  padding-right:5px !important;
  
  img{
    width:100%;
    height:auto !important;
    margin-right:20px;
    float:left;
  }
}

.half-block-copy h6, .half-block-copy h3 {
    color: $brand-blue;
    font-size: 14px;
    text-transform: uppercase;
    margin-top:0;
    margin-bottom: 4px;
}

.half-block-copy{
  p {
    font-size:14px;
  }
}

div.ambassadors {
  text-align:center !important;
}

div.ambassadors {
  
  .grid-block {
    padding-top: 22px;
    
    .grid-featured-image-container {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 50%;

    }
    

    
    .grid-block-copy{
      background:transparent;
      text-align:center !important;
      border-bottom:0px none;
    }
  }
  
}

.find-us .container {
  padding:10px 100px;
}

#vsel-custom {
  width: 50%; 
  float: left; 
  position: relative; 
  min-height: 1px; 
  padding-left: 15px; 
  padding-right: 15px; 
  box-sizing: border-box;
}

#bk-ajax-container {
  text-align:center; 
  padding:10px; 
  margin:0px auto;
  width:100%;
}




// PAGE - ECOSYSTEM

.members-badge {
  vertical-align: middle;
  margin-bottom: 6px;
  width:30px;
  height:30px;
  border-radius:15px;
  margin-right:6px;
}
.circle-platinum {
    background-color:#e5e4e2;
}
.circle-gold {
  background-color:#ffd700;
}
.circle-silver {
  background-color:#c0c0c0;
}
.circle-bronze {
  background-color:#cd7f32;
}

div.single-member .container {
  border-top:0px none;
}

div.member-level-block{
  padding:0px 0px 20px 0px;
  
  .custom-block{
    margin-bottom:15px;
  }
}

.member-level-block .container {
  border-top:1px solid #d7d9db;
  margin-bottom:20px;
  padding:20px 15px;
}
.member-level-block .grid-block-copy {
  border-bottom:0px none;
}
div.platinum-member .container {
  border-top:0px none;
}
div.platinum-member .grid-featured-image-container img {
  width:100%;
  max-width:243px;
  display:block;
  margin:0px auto;
}
.member-gold-level-block .grid-featured-image-container img {
  max-width:78%;
  margin: 0px auto;
}
.member-silver-level-block .grid-featured-image-container img {
  max-width:58%;
  margin: 0px auto;
}
.member-bronze-level-block .grid-featured-image-container img {
  max-width: 48%;
  margin: 0px auto;
}

.btn-center {
  margin: 25px auto;
  width: 50%;
  position: relative;
  display: block;
}

.members-blocks{
  .col-sm-6{
    padding-bottom:90px;
    
    &:first-child { 
      border-right:1px dashed #d7d9db;
    }
    .btn-center {
      margin: 0px auto;
      position: absolute;
      bottom:0px;
      left: 50%;
      margin-left: -25%;
    }
  } 
}

// PAGE - ECOSYSTEM - Consultants
.consultants .grid-featured-image-container {
    background:transparent;
    height:170px;
    padding: 48px;
}

.consultants .grid-block img {
    max-height:100% !important;
    width: auto !important;
    border: 4px solid#fff;
    background: #ffffff;
    margin:0px auto;
}

.consultants .grid-block .grid-block-copy {
    display: none;
}


// PAGE - ABOUT

div.about-content {
  background:url('/wp-content/uploads/2017/08/about-background.png') left top no-repeat;
  background-size:cover;
  
  h2.block-title {
    margin-bottom:35px;
  }
  
}


// SUBPAGE - Members
body.members {
  background-color:$white;
}

// SUBPAGE - Jobs

#header {
  .headerimg, hr{
    display:none;
  }
}

div#footer {
  display:none;
}

.sjb-archive-page, .sjb-detail {

  padding:10px;
}


// SUBPAGE - Ambassodors

.ambassador-list {
  
  .container .row {
    padding:0px 70px;
  }
    
  div.ambassadors {
    margin-bottom:0px;
    border-bottom:1px solid #ced0d2;
    
    .grid-block {
      overflow:hidden;
      padding:20px 0px;
    }
    
    &:first-child {
      border-top:1px solid #ced0d2;
    }
    
    .grid-block-copy {
      float: left;
      text-align:left !important;
      padding-top: 5.5%;
      
      h6 {
        display:inline-block;
        min-width:300px;
        margin-top:0px;
        margin-bottom:0px;
        color:$black;
      }
      
      p {
        display:inline-block;
      }
    }

    .grid-featured-image-container {
     
      float: left;
    }
  }  
}


// SUBPAGE - Layers

.narrow-block-subpage .container .row {
  padding:30px 55px;
}
  
div.table-row {
  margin-bottom:0px;
  padding:0px 10px;
  border-bottom:1px solid #ccced0;
  overflow:hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.table-row a {
  color:#0098db;
}
div.table-row p {
  font-size:12px;
  margin-bottom:0px;
}


// SUBPAGE - Event Detail
.event-template-default {
  
  .vsel-meta-date {
    font-family: 'Lato-bold', sans-serif;
    span {
       font-family: 'Lato', sans-serif;
    }
  }
  
  .vsel-meta-date:first-child {
    margin-bottom:0px;
  }
  time, p.author {
    display:none;
  }
}

.all-events {
  
}


// Custom Post Type detail page 

.single-software-items .author, .single-software-items time, .single-learn-items .author, .single-learn-items time, .single-documents .author, .single-learn-items time, .single-ambassadors .author,  .single-ambassadors time {
  display:none;
}


// FOOTER 


footer.content-info {
  background:$brand-grey-background;
  
  li > a {
    color: #9b9d9c;
    font-family: Lato,sans-serif;
    font-weight:400;
    font-size: 12px;
    
    &:hover, &:active {
      color:#6b6b6b;
      text-decoration:none;
    }
  }
}

footer.content-info .container .conent-inner {
  border-top:1px solid $brand-gray;
  padding-top:58px;
  padding-bottom:78px;
  font-size:12px;
  
  p {
    font-size:12px;
  }
  
  ul {
     margin-bottom:20px;
  }
  
  ul#menu-social-menu li {
    float:left;
    
    a {
      font-size:18px;
      margin-left:10px;
    }
    
    &:first-child>a {
      margin-left:0px;
    }
  }
}


/* BOOTSTRAP CUSTOM - 5 COLUMN LAYOUT */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20% !important;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20% !important;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20% !important;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20% !important;
        float: left;
    }
}


// Media Queries

/* MOBILE FIRST */
  
  /* Small Devices, Tablets */
 
@media only screen and (min-width : 0px){
  ul#menu-social-menu {
    float:left;
  }
  
  .header-info {
    display:none;
  }
  
  .navbar-toggle .icon-bar {
    background-color:#ffffff
  }
  
  div.site-logo {
    margin-left:30px;
  }
  
  body.home header.banner {
    background-color:rgb(43, 48, 52);
  }
  
  .navbar-collapse {
    box-shadow: none;
    clear:both;
    width:100%;
  }
  
  .navbar-collapse .menu-primary-navigation-container {
    box-sizing:border-box;
  }
  
  .narrow-double-block {
    padding:10px 0px;
  }
  
  .navbar-toggle .icon-bar {
    background-color:#ffffff
  }
  
  div.navbar-header {
    width: auto;
  }
  
  nav.navbar-collapse.collapse {
    padding-top: 0px;
  }
  
  .narrow-block {
    padding: 10px 0px;
  }
  
  .find-us .container {
    padding: 10px 0px;
  }
  
  .row .block-more-link, .block-more-link {
    float:none;
    margin-top:14px;
    display:inline-block;
  }
  
  .left-padding-block {
    padding-left:0px;
  }
  
  .half-block-img-container img {
    float:none;
    margin-right:0px;
  }
  
  .half-block-copy h6 {
    margin-top:15px;
  }
  
  div#vsel-custom {
    width: 100%;
  }
  
  ul#menu-primary-navigation {
    margin:0px;
  }
}


@media only screen and (min-width : 600px){
  ul#menu-primary-navigation {
    margin-left:70px;
  }
}


@media only screen and (min-width : 768px){
  ul#menu-social-menu {
    float:right;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }
  
  body.home header.banner {
    background-color:transparent;
  }

  div.site-logo {
    margin-left:0px;
  }

  ul#menu-primary-navigation li {
      padding:0px 12px;
  }
  
  ul#menu-primary-navigation li a {
      font-size: 12px;
  }
  
  .banner .container {
    padding-left:0px;
    padding-right:0px;
  }
  
  .search-wrap input[type=search]:focus {
      width: 80px;
  }
  
  .header-info {
    display:block;
  }
  
  .navbar-collapse .menu-primary-navigation-container {
    padding-left:0px;
  }
  
  div.navbar-header {
    width: 100%;
  }
  
  nav.navbar-collapse.collapse {
    padding-top: 10px;
  }
  
  .narrow-block {
    padding: 10px 40px;
  }
  
  .find-us .container {
    padding: 10px 40px;
  }
  
  .row .block-more-link, .block-more-link {
    float:right;
    margin-top: -34px;
  }
  
  .left-padding-block {
    padding-left: 60px;
  }
  
  .half-block-img-container img {
    width: 100%;
    height: auto!important;
    margin-right: 20px;
    float: left;
  }
  
  .half-block-copy h6 {
    margin-top:0px;
  }
  
  div#vsel-custom {
    width: 50%;
  }


}
  
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  
  ul#menu-primary-navigation li {
      padding:0px 18px;
  }
  
  ul#menu-primary-navigation li a {
    font-size: 14px;
  }
  
  .banner .container {
    padding-left:15px;
    padding-right:15px;
  }
  
  .search-wrap input[type=search]:focus {
      width: 140px;
  }
    
  .narrow-double-block {
    padding:10px 140px;
  }   
  
  .narrow-block {
    padding: 10px 100px !important;
  }
  
  .find-us .container {
    padding: 10px 100px;
  }
  
  ul#menu-primary-navigation {
    margin-left:60px;
  }
      
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  ul#menu-primary-navigation {
    margin-left:0px;
  }
}


/* DESKTOP FIRST */
 
@media only screen and (max-width : 600px){

}
