@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


// GLOBAL 

body {
  padding-top:119px;
  font-family: 'Lato', sans-serif;
}

body.admin-bar {
  div.header-position-container {
    top:32px;
  }
}

body.home {
  padding-top:0px;
  header.banner {
    background:transparent;
  }
}

p {
  font-size:18px;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  margin-bottom:16px;
}
a, p {
  color:#9b9d9c;
  font-family: 'Lato', sans-serif;
} 

a {
  &:active, &:visited, &:focus {
      text-decoration:none !important;
  }
}

p{
  strong{
    color:$header-black;
    margin-bottom: 24px;
    display: block;
    font-weight:700;
  }
}

a:hover, a:active {
  color:#6b6b6b;
  text-decoration:none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:.01em;
}

h3 {
  font-size:16px;
  margin-bottom: 20px;
  font-weight:400;
}

h5 {
  text-transform:uppercase;
  font-size:14px;
  line-height:20px;
  color:$black;
}

li, ul {
  list-style:none;
  margin:0px;
  padding:0px;
}

ul li {
  margin-bottom:4px;
}

div.header-position-container {
  position: fixed;
  z-index: 100;
  margin: 0px auto;
  width: 100%;
  top:0px;
}

header.banner {
  position: relative;
  z-index: 101;
  margin: 0px auto;
  padding:30px 0px;
  background:$header-black;
}


// GLOBAL CLASSES

.padding-left-0 {
  padding-left:0px;
}
.padding-right-0 {
  padding-right:0px;
}

.padding-left-30 {
  padding-left:30px;
}
.padding-right-30 {
  padding-right:30px;
}

.padding-left-50 {
  padding-left:50px;
}
.padding-right-50 {
  padding-right:50px;
}

.left-padding-block {
  padding-left:60px;
}

.no-padding-block {
   padding-top:0px !important;
   padding-bottom:0px !important;
}

.center-image {
    width: auto;
    max-width: 100%;
    margin: 0px auto;
    display: block;
}

.inline-block {
  display:inline-block;
}

.btn {
  display:inline-block;
  padding:14px;
}

.full-width {
  min-width:100%;
}

a.btn-blue {
  background:$brand-blue;
  color:$white;
  text-transform:uppercase;
  text-align:center;
  border-radius:0px;
  font-size:12px;
  line-height:20px;
  white-space:normal;
  font-weight:500;
  opacity:1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  
  img {
    margin-right:6px;
  }
  
  &:hover {
    color:$white;
    opacity: 0.7;
  }
}
.content-block {
  padding:46px 0px;
  
  ul{
    list-style:none;
    padding-left:20px;
    
    li>a {
      color:$brand-blue;
      font-size:14px;
      font-weight:bold;
    }
  }
}

.copy-small {
  font-size:13px;
}
  
.copy-large {
  font-size:18px;
}

.copy-uppercase {
  text-transform:uppercase;
}

.copy-lowercase {
  text-transform:lowercase;
}

.blue-link {
  text-transform:uppercase;
  color:$brand-blue;
  font-weight:700;
}

.block-more-link {
  margin-top:20px;
  float:right;
  font-weight:700;
}
  
.row{
  .block-more-link {
    margin-top:-54px;
    float:right;
  }
}

.narrow-block {
  padding:10px 90px;
}

.narrow-block-40 {
  padding:0px 40px;
}

.narrow-block-55 {
  padding:0px 55px;
}

.narrow-block-90 {
  padding:0px 90px;
}

.narrow-block-subpage .container .row {
  padding:30px 55px;
}

.narrow-double-block {
  padding:10px 140px;
}

.flex-block{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.inline-block {
  display:inline-block;
}

.half-block {
  padding:16px 0px;
  border-bottom:1px solid #dfdfdf;
  overflow:hidden;
  cursor:pointer;
  
  &:hover {
    background:#ffffff;
    cursor:pointer;
  }
  &:first-child {
    border-top:1px solid #dfdfdf;
  }
}

.half-block-img-container {
  padding-left:0px !important;
  padding-right:5px !important;
  
  img{
    width:100%;
    height:auto !important;
    margin-right:20px;
    float:left;
  }
}

.half-block-copy h6 {
    color: #0098db;
    font-size: 14px;
    text-transform: uppercase;
    margin-top:0;
    margin-bottom: 4px;
}

.half-block-copy p {
  margin-bottom:0px;
}


// HOME CAROUSEL

#carousel-header {
  .carousel-control {
    background-image:none;
  }
  
  .carousel-indicators li {
    margin-left: 4px !important;
    margin-right: 4px !important;
  }
}

.carousel .item-content img, .header-image-container img {
  width:100%;
  height:auto !important;
}

.overlay-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  
  h5 {
    color:$white;
    font-size:24px;
    margin:176px auto 14px auto;
    text-align:center;
    width:60%;
    line-height:32px;
  }
   
  p {
    font-size:18px;
    color:$white;
    font-weight:100;
    line-height:26px;
    width:60%;
    margin:0px auto;
    text-align:center;
   }
}


// NAVIGATION

div.navbar-header {
  width:100%;
  position:relative;
}

.site-logo {
  position:absolute;
}

nav.navbar-collapse.collapse {
  padding-top:10px;
}

.navbar-toggle {
  border: 1px solid $white;
}

div.menu-primary-navigation-container {
  text-align:center;
}

body.home {
  ul#menu-primary-navigation {
    li {
      > a {
        border-bottom:2px solid transparent;
         
        &:hover {
          border-bottom:2px solid $brand-yellow;
        }
      }
      ul.dropdown-menu{
        background-color:transparent;
      }
    }
  }
}

ul#menu-primary-navigation {
  float: none;
  display: inline-block;
  position: relative;
  
  li {
    padding:0px 20px;
    
    &.active > a {
      border-bottom:2px solid $brand-yellow;
    }
    
    > a {
      color:#fff;
      text-transform:uppercase;
      padding:10px 0px 8px 0px;
      font-weight:300;
      font-size:14px;
      letter-spacing:1px;
      border-bottom:2px solid $header-black;
      
      &:hover {
        border-bottom:2px solid $brand-yellow;
        background:transparent;
        background-image:none !important;
      }
      &:active, &:visited, &:focus {
        background:transparent !important;
        background-image:none !important;
      }
    }
  }
  
  ul.dropdown-menu{
    background-color:$header-black;
    border: 0px none;
    border-radius:0px;
    
    li a {
      font-size:12px;
      border-bottom:0px none;
      
      &:hover {
        color:$brand-yellow;
        border-bottom:0px none;
      }
      
    }
    
    .active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
      background-color:transparent;
    }
  }
  
  span.caret {
    display:none;
  }
}


// HEADER SEARCH AND SEARCH RESULT

.search-results {
    .content-block {
      
      h2 {
        margin-bottom:8px;
        
        a {
          color:$header-black;
        }
      }
      
      article {
        margin-bottom:40px;
      }
    }
}

.header-info {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top:8px
}

.search-wrap {
  position:relative;
  color:$white;
}

.search-wrap input[type=search]{
  width:70px;
  background-color:transparent;
  margin-right: 26px;
  border:0px none;
  padding: 4px 10px;
  color:$white;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right;
}

.search-wrap input[type=search]:focus {
    width: 140px;
}

.search-wrap button.icon-search {
  position:absolute;
  top:0px;
  right:0px;
  background:transparent;
  color:$white;
  border:0px none;
}


// GRID BLOCKS

.custom-block {
  margin-bottom:30px;
}

.grid-block-link {
  display:inline-block;
}

.grid-block img {
  width:100%;
  height:auto;
}

.grid-block-copy {
  background:#fff;
  padding:15px; 
  border-bottom:2px solid #dfdfdf;
  
  h6 {
    color: $brand-blue;
    font-size:14px;
    line-height:19px;
    text-transform:uppercase;
    margin-bottom:5px;
  } 
  
  p {
    font-size:14px;
  }
}

.header-small {
  &.content-block {
    h2.block-title {
      font-size:15px;
      margin-bottom:12px;
    }
  }
}

.content-block {
  h2.block-title {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 28px;
    color: $black;
    margin-bottom:30px;
    
    &:first-child {
      margin-top:0px;
    }
    
  }
  .row {
    margin-bottom:30px;
  
    &:last-child{
      margin-bottom:0px;
    }
  }
}

h2.block-title {
  text-transform: uppercase;
  font-size: 19px;
  line-height: 28px;
  color: $black;
  margin-bottom:30px;
}

// PAGE - HOME

a.btn-start, a.btn-features {
  text-align:center; 
  padding:10px;
}


// PAGE - SOFTWARE

.software-blocks {
  .grid-block {
    .grid-block-copy {
      h6 {
        margin-bottom:10px;
      }
      p{
        font-size:13px;
      }
    }
  }
}


// PAGE - DOCS

form input.inlineSearch {
  min-width: 200px;
  padding: 6px 25px 6px 5px;
  line-height: normal;
  border: none;
  border-radius: 0px;
  border-bottom:1px solid #ced0d2;
  font-family: sans-serif;  
  background: transparent;
} 

form button.inlineSubmit {
  position: absolute;
  margin-top:20px;
  top: 2px;
  right: 13px;
  height: 27px;
  width: 26px;
  border: none;
  border-radius: 0;
  background: transparent;
  border-bottom:1px solid #ced0d2;
  color:#0098db;
}
.featured-doc-blocks .grid-block-copy {
  min-height:200px;
}

.featured-doc-blocks .custom-block:last-child {
  background:#e6f5fc;
}

.featured-doc-blocks .custom-block:last-child .grid-block-copy {
  background:#e6f5fc;
}

.documents .grid-block-copy {
  min-height:200px;
}


// PAGE - COMMUNITY

.half-block-copy{
  p {
    font-size:14px;
  }
}

div.ambassadors {
  text-align:center !important;
}

div.ambassadors {
  .grid-block-copy{
    text-align:center !important;
    border-bottom:0px none;
  }
}


// PAGE - ECOSYSTEM

.members-badge {
  vertical-align: middle;
  margin-bottom: 6px;
  width:30px;
  height:30px;
  border-radius:15px;
  margin-right:6px;
}
.circle-platinum {
    background-color:#e5e4e2;
}
.circle-gold {
  background-color:#ffd700;
}
.circle-silver {
  background-color:#c0c0c0;
}
.circle-bronze {
  background-color:#cd7f32;
}

div.single-member .container {
  border-top:0px none;
}

div.member-level-block{
  padding:0px 0px 20px 0px;
}
.member-level-block .container {
  border-top:1px solid #d7d9db;
  margin-bottom:20px;
  padding:20px 15px;
}
.member-level-block .grid-block-copy {
  border-bottom:0px none;
}
div.platinum-member .container {
  border-top:0px none;
}
div.platinum-member .grid-featured-image-container img {
      width:100%;
    max-width:243px;
      display:block;
      margin:0px auto;
}
.member-gold-level-block .grid-featured-image-container img {
  max-width:78%;
  margin: 0px auto;
}
.member-silver-level-block .grid-featured-image-container img {
  max-width:73%;
  margin: 0px auto;
}
.member-bronze-level-block .grid-featured-image-container img {
  max-width: 68%;
  margin: 0px auto;
}

.btn-center {
  margin: 25px auto;
  width: 50%;
  position: relative;
  display: block;
}

.members-blocks{
  .col-sm-6{
    padding-bottom:90px;
    
    &:first-child { 
      border-right:1px dashed #d7d9db;
    }
    .btn-center {
      margin: 0px auto;
      position: absolute;
      bottom:0px;
      left: 50%;
      margin-left: -25%;
    }
  } 
}


// SUBPAGE - Ambassodors

.ambassador-list {
  
  .container .row {
    padding:30px 70px;
  }
    
  div.ambassadors {
    margin-bottom:0px;
    border-bottom:1px solid #ced0d2;
    
    &:first-child {
      border-top:1px solid #ced0d2;
    }
    
    .grid-block-copy {
      float: left;
      text-align:left !important;
      padding-top: 6.5%;
      
      h6 {
        display:inline-block;
        min-width:300px;
        margin-top:0px;
        margin-bottom:0px;
        color:#000000;
      }
      
      p {
        display:inline-block;
      }
    }

    .grid-featured-image-container {
      width: 25%;
      float: left;
    }
  }  
}


// SUBPAGE - Layers

.narrow-block-subpage .container .row {
  padding:30px 55px;
}
  
div.table-row {
  margin-bottom:0px;
  padding:0px 10px;
  border-bottom:1px solid #ccced0;
  overflow:hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.table-row a {
  color:#0098db;
}
div.table-row p {
  font-size:12px;
  margin-bottom:0px;
}


// FOOTER 

footer.content-info {
  background:$brand-grey-background;
}

footer.content-info .container .conent-inner {
  border-top:1px solid $brand-gray;
  padding-top:58px;
  padding-bottom:78px;
  font-size:12px;
  
  p {
    font-size:12px;
  }
  
  ul {
     margin-bottom:20px;
  }
  
  ul#menu-social-menu li {
    float:left;
    
    a {
      font-size:18px;
      margin-left:10px;
    }
    
    &:first-child>a {
      margin-left:0px;
    }
  }
}


// Media Queries

/* MOBILE FIRST */
  
  /* Small Devices, Tablets */
 
@media only screen and (min-width : 0px){
  ul#menu-social-menu {
    float:left;
  }
}


@media only screen and (min-width : 600px){

}


@media only screen and (min-width : 768px){
  ul#menu-social-menu {
    float:right;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }
}
  
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
           
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}


/* DESKTOP FIRST */
 
@media only screen and (max-width : 600px){

}
