@import 'common/variables';

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

@import 'common/global';
@import 'components/buttons';
@import 'components/comments';
@import 'components/forms';
@import 'components/grid';
@import 'components/wp-classes';
@import 'layouts/header';
@import 'layouts/sidebar';
@import 'layouts/footer';
@import 'layouts/pages';
@import 'layouts/posts';
@import 'layouts/tinymce';


// GLOBAL

body {
  background: $brand-gray-background;
  color: $text-gray;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-top: 119px;
}

.admin-bar {
  .header-position-container {
    top: 32px;
  }
}

.home {
  padding-top: 0;

  .banner {
    background: transparent;
  }

  #menu-primary-navigation {
    li {
      > a {
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid $brand-yellow;
        }
      }

      .dropdown-menu {
        background-color: transparent;
      }
    }
  }

  .content-block {
    form {
      background: $white;
      border: 0 none;
      box-sizing: border-box;
      padding: 0;
    }
  }
}

p {
  color: $text-gray;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;

  a {
    color: $brand-blue;
    text-transform: capitalize;
  }

  strong {
    color: $header-black;
    display: inline-block;
    font-weight: 700;
  }
}

a {
  font-family: 'Lato', sans-serif;
  color: $brand-blue;

  &:active,
  &:visited,
  &:focus,
  &:hover {
    color: $brand-blue;
    text-decoration: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: .01em;
  text-transform: uppercase;
}

h3,
h4 {
  font-family: 'Lato-bold', sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
}

h5,
h6 {
  color: $black;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  a {
    font-weight: 400;
    text-transform: capitalize;
  }
}

ul {
  li {
    margin-bottom: 4px;
  }
}

h2 {
  .header-large {
    font-size: 22px; //21px?
    line-height: 28px;
    margin-bottom: 18px;
    text-transform: none !important;
  }
}

img {
  .center {
    margin: 0 auto;
  }
}



.content,
.content-block {
  ol {
    list-style-type: decimal !important;
    margin-bottom: 10px;
    padding-left: 20px;

    li {
      color: $brand-copy;
      font-size: 16px;
      list-style: decimal !important;
    }
  }

  ul {
    list-style-type: disc;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 20px;

    li {
      color: $brand-copy;
      font-size: 16px;
      list-style: disc;
    }
  }

  h4 {
    margin-bottom: 10px !important;
    margin-top: 32px;
  }
}

.content-block {
  padding: 46px 0;

  ul {
    list-style: none;
    padding-left: 20px;

    li>a {
      color: $brand-blue;
      font-size: 14px;
      font-weight: bold;
    }
  }

  form {
    .wpcf7 {
      background: $white;
      border: 1px solid $brand-gray;
      box-sizing: border-box;
      padding: 20px;
    }
  }

  input {
    &[type='submit'] {
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      background: $brand-blue;
      border: 0 none;
      border-radius: 0;
      color: $white;
      display: inline-block;
      font-size: 12px;
      line-height: 20px;
      opacity: 1;
      padding: 14px;
      text-align: center;
      text-transform: uppercase;
      transition: opacity .25s ease-in-out;
      white-space: normal;
    }
  }

  .block-title,
  .entry-title {
    color: $black;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }
  }

  .row {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header-position-container {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.banner {
  background: $header-black;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  z-index: 101;
}

#carousel-header {
  max-height: 340px;
}

// COLORBOX OVERWRITES

#cboxContent {
  border: 1px solid $brand-gray;
  box-sizing: border-box;
}

#cboxContent .bk-image-container img {
  margin:0px auto;
}


// GLOBAL CLASSES

.no-bullets {
  ul,
  li {
    list-style: none !important;
  }
}

.padding-left-0 {
  padding-left: 0;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}

.left-padding-block {
  padding-left: 60px;
  //padding-left: 30px;
}

.no-padding-block {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.padding-block-0-250-0-90 {
  padding: 0 250px 0 90px;
}

.padding-block-0-250-40-90 {
  padding: 0 250px 40px 90px;
}

.padding-block-50-150 {
  padding: 0 150px 0 50px;
}

.center-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
}

.float-container {
  overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: 14px;
}

.full-width {
  min-width: 100%;
}

.tag {
  border: 0 none;
  border-radius: 0;
  color: $white;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 3px 6px;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;

  &.tag-blue {
    background: $brand-blue;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.btn-blue,
input[type='submit'] {
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  background: $brand-blue;
  border: 0 none;
  border-radius: 0;
  color: $white;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  opacity: 1;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: opacity .25s ease-in-out;
  white-space: normal;

  img {
    margin-right: 6px;
  }

  &:hover {
    color: $white;
    opacity: .7;
  }

  &:visited,
  &:active {
    color: $white;
  }

  h6 {
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 4px;
    text-transform: none;

    &:first-child {
      font-weight: 300;
    }
  }
}

.copy-small {
  font-size: 13px;
}

.copy-large {
  font-size: 18px;
}

.page-header {
  border-bottom: 0 none;
  margin: 40px 0 20px;
  //margin: 55px 0 0;
  padding-bottom: 0;
}

.copy-uppercase {
  text-transform: uppercase;
}

.copy-lowercase {
  text-transform: lowercase;
}

.blue-text {
  color: $brand-blue;
  text-transform: none;
}

.blue-link {
  color: $brand-blue;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    color: $brand-blue;
  }
}

.block-more-link {
  float: right;
  font-weight: 700;
  margin-top: 20px;
  //margin-top: 5px;
}

.row {
  .block-more-link {
    float: right;
    margin-top: -34px;
  }
}

.narrow-block {
  padding: 10px 90px;
}

.narrow-block-40 {
  padding: 0 40px;
}

.narrow-block-55 {
  padding: 0 55px;
}

.narrow-block-90 {
  padding: 0 90px;
}

.narrow-block-subpage {
  .container {
    .row {
      padding: 0 55px;
      //padding: 30px 55px;
      //padding: 30px 55px;
    }
  }
}

.narrow-double-block {
  padding: 10px 140px;
}

.flex-block {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

// FORMS

#field-wrapper {
  select {
    background: $white;
    border-radius: 0 !important;
    height: 28px;
  }
}

// HOME CAROUSEL

.home-header {
  .carousel {
    .glyphicon {
      display: none;
    }

    .carousel-control {
      background-image: none;
    }

    .carousel-indicators {
      li {
        margin-left: 4px !important;
        margin-right: 4px !important;
      }
    }

    .item-content,
    .header-image-container {
      img {
        height: auto !important;
        width: 100%;
      }
    }
  }
}

.overlay-container {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  h5 {
    color: $white;
    font-size: 24px;
    line-height: 32px;
    margin: 176px auto 14px;
    margin-top: 10%;
    text-align: center;
    width: 60%;
  }

  p {
    color: $white;
    font-size: 18px;
    font-weight: 100;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
   }
}


// NAVIGATION

.navbar-header {
  position: relative;
  width: 100%;
}

.site-logo {
  position: absolute;
}

.navbar-collapse {
  .collapse {
    padding-top: 10px;
  }
}

.navbar-toggle {
  border: 1px solid $white;
}

.menu-primary-navigation-container {
  text-align: center;
}

#menu-primary-navigation {
  display: inline-block;
  float: none;
  position: relative;

  li {
    padding: 0 20px;

    &.active > a {
      border-bottom: 2px solid $brand-yellow;
    }

    > a {
      border-bottom: 2px solid $header-black;
      color: $white;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 10px 0 8px;
      text-transform: uppercase;

      &:hover {
        background: transparent;
        background-image: none !important;
        border-bottom: 2px solid $brand-yellow;
      }

      &:active,
      &:visited,
      &:focus {
        font-weight: 300;
        background: transparent !important;
        background-image: none !important;
      }
    }
  }

  .dropdown-menu {
    background-color: $header-black;
    border: 0 none;
    border-radius: 0;

    li {
      a {
        border-bottom: 0 none;
        font-size: 12px;
        font-weight: 300;

        &:hover {
          border-bottom: 0 none;
          color: $brand-yellow;
        }
      }
    }

    .active>a,
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover {
      background-color: transparent;
      font-weight: 300;
    }
  }

  .caret {
    display: none;
  }
}

// MOBILE NAV

.in {
  #menu-primary-navigation {
    margin: 0 !important;
    width: 100%;

    li {
      padding: 0;

      &.open-menu {
        background: $brand-yellow;

        .dropdown-menu {
          background-color: #444 !important;
          margin-bottom: 12px;
        }
      }

      &>a {
        &:hover {
          border-bottom: 2px solid transparent !important;
        }
      }
    }

    .dropdown-menu {
      text-align: center;
      width: 100%;
    }
  }
}

// HEADER SEARCH AND SEARCH RESULT

.search-results {
  .content-block {
    h2 {
      margin-bottom: 8px;

      a {
        color: $header-black;
      }
    }

    article {
      margin-bottom: 40px;
    }
  }
}

.header-info {
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 0;
}

.search-wrap {
  color: $white;
  position: relative;

  input {
    &[type='search'] {
      -moz-transition: all .5s ease;
      -webkit-transition: all .5s ease;
      background-color: transparent;
      border: 0 none;
      color: $white;
      float: right;
      margin-right: 26px;
      padding: 4px 10px;
      transition: all .5s ease;
      width: 70px;

      &:focus {
        width: 140px;
        //width: 200px;
      }
    }
  }

  .icon-search {
    background: transparent;
    border: 0 none;
    color: $white;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// GRID BLOCKS

.custom-block {
  margin-bottom: 30px;
}

.grid-block-link {
  display: inline-block;
}

.grid-block {
  img {
    height: auto;
    width: 100%;
  }
}

.grid-block-copy {
  background: $white;
  border-bottom: 2px solid $brand-lt-gray-border;
  padding: 15px;

  h6 {
    color: $brand-blue;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  p {
    color: $text-gray;
    font-size: 14px;
    text-transform: none;

    a {
      color: $brand-blue;
      font-size: 14px;

      &.blue-link {
        font-size: 12px;
      }
    }
  }

  .blue-link {
    font-size: 12px;
  }
}

.header-small {
  &.content-block {
    .block-title {
      font-size: 15px;
      margin-bottom: 12px;
    }
  }
}

.block-title {
  color: $black;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.off-white-block-container {
  .grid-block {
    .grid-block-copy {
      background: transparent !important;
    }
  }
}

// PAGES

.single {
  time,
  .author {
    display: none;
  }
}

// PAGE - HOME

.btn-start,
.btn-features {
  padding: 10px;
  text-align: center;
}

.btn-block {
  min-height: 120px;

  h6 {
    color: $white;
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 3px;
    text-transform: none;
  }
}

.btn-light-blue {
  background-color: $brand-lt-blue-background !important;
  color: $brand-blue-black !important;

  .btn-block {
    h6 {
      &:first-child {
        color: $brand-blue-black;
        font-weight: 300;
      }
    }
  }

  h6 {
    &:first-child {
      color: $brand-blue-black !important;
    }
  }
}

.blue-text,
h6.blue-text,
.btn-block h6.blue-text {
  color: $brand-blue !important;
  text-transform: none;
}

.stat-number {
  color: $text-gray;
  font-family: 'Lato-bold', sans-serif;
  font-size: 40px;
  //font-size: 65px;
  margin-bottom: 2px;
}

.build-stats {
  p {
    font-size: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .stat-number {
    &::after {
      content: url('/wp-content/uploads/2017/07/hexagon-red.png');
      padding-left: 5px;
    }
  }

  &:first-child {
    .stat-number {
      &::after {
        content: url('/wp-content/uploads/2017/07/hexagon-green.png');
        padding-left: 5px;
      }
    }
  }
}

#carousel-header {
  .glyphicon {
    display: none;
  }
}

// Experienced Developer

.chart {
  min-height: 250px;
  width: 100%;
}

.carousel {
  .active {
    border-bottom: 0;
  }
}

.experienced-developers {
  .shortcode {
    float: right;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 33.3333333333%;
  }

  .content {
    float: left;
    width: 66.6666666667%;
  }

  .item-content {
    img {
      min-height: 116px;
      width: 346px;
    }
  }

  .carousel-control,
  .carousel-indicators {
    display: none;
  }

  .carousel {
    border: 2px solid $brand-blue;

    .item-content {
      margin: 0 auto;
      min-height: 116px;
      padding: 0 12px;
      position: relative;
      text-align: center;
      width: 100%;

      h5 {
        font-size: 15px;
        margin-bottom: 2px;
        margin-top: 3%;
      }

      p {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 6px;
      }
    }

    .overlay-container {
      h5 {
        font-size: 15px;
        margin-bottom: 2px;
        margin-top: 3%;
      }
    }
  }
}


// Activity Table

#layerTable {
  .activity-table {
    div.row-header:first-child {
      border-top: 1px solid #c3c3c3;
      border-bottom:0px none;
    }
  }
}

.activity-block {

  .row-header {
    border-top: 1px solid $brand-gray;
    padding-bottom: 0;
    padding-top: 0;
  }

  .table-row {
    border-bottom: 1px solid $brand-gray;
    border-left: 1px solid $brand-gray;
    border-right: 1px solid $brand-gray;
    margin-bottom: 0;
    overflow: hidden;
    padding: 11px 10px;
  }
}


.activity-table-tab-container {
  margin-left: 14px;
  padding-top: 3px;

  .active {
    border-bottom: 2px solid $brand-blue !important;
  }

  .activity-table-tab {
    border-bottom: 2px solid transparent;
    color: $text-gray;
    margin-left: 14px;
    padding-bottom: 3px;
  }
}


.activity-table {
  .table-row {
    a {
      color: $brand-blue;
      font-size: 12px;
      font-weight: 400;
    }

    p {
      color: #2c2c2c;
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}

.priority {
  background: $text-gray;
  border-radius: 8px;
  color: $white;
  font-size: 11px;
  margin-left: 6px;
  padding: 2px 8px;
  text-transform: uppercase;
}

span {
  &.low {
    background: $scale-low;
  }

  &.medium {
    background: $scale-medium;
  }

  &.high {
    background: $scale-high;
  }
}

.hexagon {
  height: auto !important;
  margin-right: 6px;
  padding-bottom: 3px;
  width: 13px;
}

// PAGE - DOWNLOADS

// Release Section

.release-section {
  .content {
    .row {
      margin-bottom: 0;
    }
  }
}

.downloads {
  background-color: $white;
}

// Drop down Select

.header-select {
  background: $brand-gray-background;
  border: 0 none;
  color: $brand-blue;
  font-weight: 700;
  margin-left: 6px;
  text-transform: uppercase;

  &.white-background {
    background: $white;
  }
}

.archived-releases {
  .header-select {
    color: $brand-red;
  }
}

// Layer styles

.table-row {
  border-bottom: 1px solid $brand-gray;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  // padding-bottom: 18px;
  // padding-top: 18px;

  a {
    color: $brand-blue;
  }

  p {
    font-size: 12px;
    // font-size: 14px;
    margin-bottom: 0;
  }

  &:first-child {
    border-top: 1px solid $brand-gray;
  }
}

.layers-search-container {
  margin-top: -70px;

  .layers-page-search {
    position: relative;

    .inlineSubmit {
      margin-top: 0;
      right: 0;
    }
  }
}

// PAGE - SOFTWARE

.software {
  .block-more-link {
    float: right;
    margin-top: -34px;
  }

  .row {
    .block-more-link {
      float: right;
      margin-top: -34px;
    }
  }
}

.software-blocks {
  .grid-block {
    .grid-block-copy {
      h6 {
        margin-bottom: 10px;
      }

      p {
        font-size: 13px;
        text-transform: none;
      }
    }
  }
}

.project-components {
  .grid-block-copy {
    min-height: 205px;
  }
}

// PAGE - DOCS

.featured-doc-blocks {
  h2 {
    margin-top: 0;
  }

  .grid-block-copy {
    min-height: 200px;
  }

  .custom-block {
    &:last-child {
      .grid-block-copy {
        background: $brand-featured-block;
      }
    }
  }
}

.gsc-search-box-tools {
  .gsc-search-box {
    .gsc-input {
      background-image: none !important;
      color: $text-gray;
      line-height: 28px;
      padding-right: 0;
      text-indent: 2px !important;
      width: 100%;
    }
  }
}

.gsc-input {
  background-image: none;
}

.gsib_a {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.gsc-search-button {
  -webkit-font-smoothing: antialiased;
  background-color: $brand-blue;
  border: 0 none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  height: 28px;
  margin-left: 0;
  margin-top: -1px;
  padding: 6px;
  //padding: 0;
  text-rendering: auto;
  width: 28px;

  input {
    &::before {
      content: '/f002';
      font: normal normal normal 14px/1 FontAwesome;
    }
  }
}

.gsst_b,
.gsst_a .gscb_a {
  display: none !important;
}

.gsc-search-box {
  border: 0 none;
  display:none;

  tbody {
    th,
    td {
      padding: 0 !important;
    }

    tr {
      &:nth-child(odd) {
        background: transparent;
      }
    }
  }
}

.documents {
  .grid-block-copy {
    min-height: 230px;
  }
}

form {
  .inlineSearch {
    background: transparent;
    border: 0 none;
    border-bottom: 1px solid $brand-gray-border;
    border-radius: 0;
    font-family: sans-serif;
    line-height: normal;
    min-width: 200px;
    padding: 6px 25px 6px 5px;
  }

  .inlineSubmit {
    background: transparent;
    border: 0 none;
    border-bottom: 1px solid $brand-gray-border;
    border-radius: 0;
    color: $brand-blue;
    height: 100%;
    margin-top: 20px;
    position: absolute;
    right: 13px;
    top: 0;
    width: 26px;
  }
}

.gsc-control-cse,
.gsc-control-cse-en {
  background: transparent;
  border: 0 none;
  padding: 0;
}

table {
  &:hover {
    background: transparent !important;
  }

  tr {
    &:hover {
      background: transparent !important;
      background-color: transparent !important;
    }

    td {
      &:hover {
        background: transparent !important;
      }
    }
  }

  .t-title {
    &:hover {
      background-color: transparent !important;
    }
  }
}

.gsc-input-box {
  border: 0 none;
  border-bottom: 1px solid $brand-gray;
  height: 28px;

  table {
    border: 0 none;
  }
}

.archived-documents {
  .header-select {
    color: $brand-red;
  }
}

// PAGE - COMMUNITY

.find-us {
  .container {
    padding: 10px 100px;
  }

  .half-block {
    &:hover {
      background: $white;
      cursor: pointer;
    }
  }
}

.half-block {
  border-bottom: 1px solid $brand-lt-gray-border;
  min-height: 112px;
  overflow: hidden;
  padding: 16px 0;

  &:hover {
    background: $white;
  }

  &:first-child {
    border-top: 1px solid $brand-lt-gray-border;
  }

  p {
    margin-bottom: 0;
    text-transform: none;
  }
}

.half-block-img-container {
  padding-left: 0 !important;
  padding-right: 5px !important;

  img {
    float: left;
    height: auto !important;
    margin-right: 20px;
    width: 100%;
  }
}

.half-block-copy {
  h3,
  h6 {
    color: $brand-blue;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 0;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
  }
}

.ambassadors {
  &.custom-block{
    text-align: center;
  
    .grid-block {
      padding-top: 22px;
  
      .grid-featured-image-container {
        border-radius: 50%;
        display: inline-block;
        height: 120px;
        overflow: hidden;
        position: relative;
        width: 120px;
      }
  
      .grid-block-copy {
        background: transparent;
        border-bottom: 0 none;
        text-align: center;
      }
    }
  }
}

#bk-ajax-container {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.community{
   .block-more-link {
     margin-top:20px !important;
   }
  
}

.jobs .grid-block-copy {
   h6 {
     min-height:40px;
   }
   
   p {
      min-height:60px;
   }
}

// PAGE - LEARN

.learn {
  
  .grid-featured-image-container {
    max-height: 425px;
    overflow: hidden;
  }

  .grid-block-copy {
    min-height:84px;
  }
}

// PAGE - ECOSYSTEM

.members-badge {
  border-radius: 15px;
  height: 30px;
  margin-bottom: 6px;
  margin-right: 6px;
  vertical-align: middle;
  width: 30px;
}

.circle-platinum {
  background-color: $member-platinum;
}

.circle-gold {
  background-color: $member-gold;
}

.circle-silver {
  background-color: $member-silver;
}

.circle-bronze {
  background-color: $member-bronze;
}

.single-member {
  .container {
    border-top: 0 none;
  }
}

.members {
  .grid-block-copy {
    background: transparent;
  }
}

.member-level-block {
  padding: 0 0 20px;

  .custom-block {
    margin-bottom: 15px;
    min-height: 195px;
  }

  .container {
    border-top: 1px solid $brand-gray-border;
    margin-bottom: 20px;
    padding: 20px 15px;
  }

  .grid-block-copy {
    background: transparent;
    border-bottom: 0 none;
  }
}

.platinum-member {
  .container {
    border-top: 0 none;
  }

  .grid-featured-image-container {
    img {
      display: block;
      margin: 0 auto;
      max-width: 283px;
      width: 100%;
    }
  }
}

.member-gold-level-block {
  .grid-featured-image-container {
    img {
      margin: 0 auto;
      max-width: 78%;
    }
  }
}

.member-silver-level-block {
  .grid-featured-image-container {
    img {
      margin: 0 auto;
      max-width: 58%;
    }
  }
}

.member-bronze-level-block {
  .grid-featured-image-container {
    img {
      margin: 0 auto;
      max-width: 48%;
    }
  }
}

.btn-center {
  display: block;
  margin: 25px auto;
  position: relative;
  width: 50%;
}

.members-blocks {
  .col-sm-6 {
    padding-bottom: 90px;

    &:first-child {
      border-right: 1px dashed $brand-gray-border;
    }

    .btn-center {
      bottom: 0;
      left: 50%;
      margin: 0 auto;
      margin-left: -25%;
      position: absolute;
    }
  }
}

// PAGE - ECOSYSTEM - Consultants
.consultants {
  .grid-featured-image-container {
    background: transparent;
    height: 170px;
    padding: 48px;
  }

  .grid-block {
    img {
      background: $white;
      border: 4px solid $white;
      margin: 0 auto;
      max-height: 100% !important;
      width: auto !important;
    }

    .grid-block-copy {
      display: none;
    }
  }
}

// PAGE - ABOUT

.about-content {
  background: url('/wp-content/uploads/2017/08/about-background.png') left top no-repeat;
  background-size: cover;

  .block-title {
    margin-bottom: 35px;
  }
}

// SUBPAGE - Members

body.members {
  background-color: $white;
}

// SUBPAGE - Jobs

#header {
  .headerimg,
  hr {
    display: none;
  }
}

#footer {
  display: none;
}

.sjb-archive-page,
.sjb-detail {
  padding: 10px;
}


// SUBPAGE - Ambassodors

.ambassador-list {

  .container {
    .row {
      padding: 0 16px;
    }
  }

  .ambassadors {
    border-bottom: 1px solid $brand-gray-border;
    margin-bottom: 0;

    .grid-block {
      overflow: hidden;
      padding: 20px 0;
    }

    &:first-child {
      border-top: 1px solid $brand-gray-border;
    }

    .grid-block-copy {
      float: left;
      padding: 3.5% 0 0 4%;
      text-align: left !important;
      width: 80%;

      h6 {
        color: $black;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
        min-width: 300px;
      }

      p {
        display: inline-block;
      }
    }

    .grid-featured-image-container {
      float: left;
    }
  }
}


// SUBPAGE - Event Detail
.event-template-default {

  .vsel-meta-date {
    font-family: 'Lato-bold', sans-serif;

    &:first-child {
      margin-bottom: 0;
    }

    span {
      font-family: 'Lato', sans-serif;
    }
  }

  time,
  .author {
    display: none;
  }
}

// Custom Post Type detail page

.single-software-items,
.single-learn-items,
.single-documents,
.single-learn-items,
.single-ambassadors {
  .author,
  time {
    display: none;
  }
}

// FOOTER

.content-info {
  background: $brand-gray-background;

  li > a {
    color: $footer-text-gray;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;

    &:hover,
    &:active {
      color: #6b6b6b;
      text-decoration: none;
    }
  }

  .container {
    .conent-inner {
      border-top: 1px solid $brand-gray;
      font-size: 12px;
      padding-bottom: 78px;
      padding-top: 58px;

      p {
        color: $footer-text-gray;
        font-size: 12px;
      }

      ul {
        color: $footer-text-gray;
        list-style: none;
        margin-bottom: 20px;

        li {
          color: $footer-text-gray;
          list-style: none !important;

          a {
            color: $footer-text-gray;
          }
        }
      }

      #menu-social-menu {
        li {
          float: left;
          list-style: none !important;

          a {
            font-size: 18px;
            margin-left: 10px;
          }

          &:first-child {
            &>a {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

// BOOTSTRAP CUSTOM - 5 COLUMN LAYOUT

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-5ths {
  float: left;
  width: 20% !important;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    float: left;
    width: 20% !important;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    float: left;
    width: 20% !important;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    float: left;
    width: 20% !important;
  }
}

/* BOOTSTRAP CUSTOM - 7 COLUMN LAYOUT */

@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

// Media Queries

// MOBILE FIRST

// Small Devices, Tablets

@media only screen and (min-width: 0) {
  #menu-social-menu {
    float: left;
  }

  .header-info {
    display: none;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: $white;
    }
  }

  .site-logo {
    margin-left: 30px;
  }

  .home {
    .banner {
      background-color: $header-black;
    }
  }

  .navbar-collapse {
    box-shadow: none;
    clear: both;
    width: 100%;
  }

  .navbar-collapse {
    &.collapse {
      padding-top: 0;
    }

    .menu-primary-navigation-container {
      box-sizing: border-box;
    }
  }

  .narrow-double-block {
    padding: 10px 0;
  }

  .navbar-header {
    width: auto;
  }

  .narrow-block {
    padding: 10px 0;
  }

  .find-us {
    .container {
      padding: 10px 0;
    }
  }

  .row {
    .block-more-link {
      display: inline-block;
      float: none;
      margin-top: 14px;
    }
  }

  .block-more-link {
    display: inline-block;
    float: none;
    margin-top: 14px;
  }

  .left-padding-block {
    padding-left: 0;
  }

  .half-block-img-container {
    img {
      float: none;
      margin-right: 0;
    }
  }

  .half-block-copy {
    h6 {
      margin-top: 15px;
    }
  }

  #vsel-custom {
    width: 100%;
  }

  #menu-primary-navigation {
    margin: 0;
  }

  .mobile-show-992 {
    background: $brand-gray;
    display: block;

    &:first-child {
      background: $brand-copy;
    }

    h5 {
      color: $white !important;
    }
  }

  .mobile-hide-992 {
    display: none;
  }

  .mobile-table-row {
    border-left: 1px solid $brand-gray;
    border-right: 1px solid $brand-gray;
    margin-bottom: 36px;
    padding: 0;

    p {
      margin: 12px 0 !important;
      word-wrap: break-word;
      font-size:15px;
    }
  }
}

@media only screen and (min-width: 600px) {
  #menu-primary-navigation {
    margin-left: 70px;
  }
}

@media only screen and (min-width: 768px) {
  #menu-social-menu {
    float: right;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }

  .home {
    .banner {
      background-color: transparent;
    }
  }

  .site-logo {
    margin-left: 0;
  }

  #menu-primary-navigation {
    li {
      padding: 0 12px;

      a {
        font-size: 12px;
      }
    }
  }

  .banner {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .search-wrap {
    input {
      &[type='search'] {
        &:focus {
          width: 80px;
        }
      }
    }
  }

  .header-info {
    display: block;
  }

  .navbar-collapse {
    &.collapse {
      padding-top: 10px;
    }

    .menu-primary-navigation-container {
      padding-left: 0;
    }
  }

  .navbar-header {
    width: 100%;
  }

  .narrow-block {
    padding: 10px 40px;
  }

  .find-us {
    .container {
      padding: 10px 40px;
    }
  }

  .row {
    .block-more-link {
      float: right;
      margin-top: -34px;
    }
  }

  .block-more-link {
    float: right;
    margin-top: -34px;
  }

  .left-padding-block {
    padding-left: 60px;
  }

  .half-block-img-container {
    img {
      float: left;
      height: auto !important;
      margin-right: 20px;
      width: 100%;
    }
  }

  .half-block-copy {
    h6 {
      margin-top: 0;
    }
  }

  #vsel-custom {
    width: 50%;
  }
  
  .learn {
    .grid-block-copy {
      min-height:104px;
    }
  }
}

// Medium Devices, Desktops

@media only screen and (min-width: 992px) {
  #menu-primary-navigation {
    margin-left: 60px;

    li {
      padding: 0 18px;

      a {
        font-size: 14px;
      }
    }
  }

  .banner {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .search-wrap {
    input {
      &[type='search'] {
        &:focus {
          width: 140px;
        }
      }
    }
  }

  .narrow-double-block {
    padding: 10px 90px;
  }

  .narrow-block {
    padding: 10px 100px !important;
  }

  .find-us {
    .container {
      padding: 10px 100px;
    }
  }

  .mobile-hide-992 {
    display: block;
  }

  .mobile-show-992 {
    display: none;
  }

  .mobile-table-row {
    border-bottom: 1px solid $brand-gray;
    border-left: 0 solid $brand-gray;
    border-right: 0 solid $brand-gray;
    border-top: 0 solid $brand-gray;
    margin-bottom: 0;
    padding: 10px;
  }
  
  .learn {
    .grid-block-copy {
      min-height:124px;
    }
  }
}

// Large Devices, Wide Screens

@media only screen and (min-width: 1200px) {
  #menu-primary-navigation {
    margin-left: 0;
  }
  
  .learn {
    .grid-block-copy {
      min-height:104px;
    }
  }
}

// DESKTOP FIRST

@media only screen and (max-width: 600px) {}
